/* style css, weather dashboard, TWH, 6-22-21 */


* {
    box-sizing: border-box;
}


/* styles font-family on all body text etc */
body {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }

/* header bootstrap */
.jumbotron {
    text-align:center;
}

/*dashboard title */
.display-3 {
    color:rgb(27, 27, 212);
    margin-top:-3%;
    font-size:50px;
}

.previous-searches {
    margin-bottom:20px;
}

/* general btn styling */
.btn {
    background-color: rgb(27, 27, 212);
    border:none;
    text-align: center;
}

.btn-group {
    margin-right:10px;
}

.form-control {
    padding:25px;
}

/*input area */
.input-group {
    margin-top:50px;
    text-align:center;
    width:50%;
    margin-left:25%;
    margin-right:25%;
}

/* grabs main content */
.main-weather {
    display:flex;
    flex-wrap: wrap;
    text-align: center;

}

.previous-weather {
    text-align:center; 
    position:relative;
    width:20%;
    margin-left:10%;

}

.previous-searches {
    text-align: center;
}

.current-weather {
    position:relative;
    flex-wrap:nowrap;
    width:70%;

}

/* previous search btn */
#search-btn-one {
    padding:15px;
}

#search-button:hover, #search-btn-one:hover, #uv-btn:hover  {
    background-color: rgb(211, 43, 226);
}

.current-label {
    text-align: center;
}

.current-title, .current-date {
    font-size:20px;
}

.current-icon {
    text-decoration: underline;
}

/* card element */
.card {
    margin-top:20px;
    margin-bottom:50px;
    width:70%;
    margin-right:15%;
    margin-left:15%
}

/* hides initial display on reload events */
.five-day {
    display: none;
    text-align: center;
}

.five-day-label {
    margin-top:20px;
    text-align:center;
}

/* displays date */
.day1-title, .day2-title, .day3-title, .day4-title, .day5-title {
    margin-bottom:20px;
}

/* weather status icons */
img {
    filter:hue-rotate(300deg);
}

.card-deck {
    margin-bottom:100px;
    width:90%;
    margin-right:5%;
    margin-left:5%;
}

/*moves text left */
span {
    margin-left:5px;
}

/*media screen for proper flex */
@media screen and (max-width: 900px) {
    .main-weather {
      flex-direction: column;   
    }
}    

@media screen and (max-width: 900px) {
    .previous-weather, .current-weather {
      flex-direction: column;   
      width:100%;
      margin:0;
    }
}   

@media screen and (max-width: 900px) {
    .current-label {
      margin-top: 30px;
      
    }
} 
