/* style css, weather dashboard, TWH, 6-22-21 */


* {
    box-sizing: border-box;
}


/* styles font-family on all body text etc */
body {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }

.jumbotron {
    text-align:center;
}

.display-3 {
    color:rgb(27, 27, 212);
    margin-top:-3%;
    font-size:50px;
}

.previous-searches {
    margin-bottom:20px;
}

.btn {
    background-color: rgb(27, 27, 212);
    border:none;
    text-align: center;
}

.btn-group {
    margin-right:10px;
}

.form-control {
    padding:25px;
}

.input-group {
    margin-top:50px;
    text-align:center;
    width:50%;
    margin-left:25%;
    margin-right:25%;
}

.main-weather {
    display:flex;
    flex-wrap: wrap;
    text-align: center;

}

.previous-weather {
    text-align:center; 
    position:relative;
    width:20%;
    margin-left:10%;

}

.previous-searches {
    text-align: center;
}

.current-weather {
    position:relative;
    flex-wrap:nowrap;
    width:70%;

}

#btn-1, #btn-2, #btn-3 {
    padding:15px;
}

.current-label {
    text-align: center;
}

.current-title, .current-date {
    font-size:20px;
}

.current-icon {
    text-decoration: underline;
}

.card {
    margin-top:20px;
    margin-bottom:50px;
    width:70%;
    margin-right:15%;
    margin-left:15%
}


.five-day-label {
    margin-top:20px;
    text-align:center;
}

.day1-title, .day2-title, .day3-title, .day4-title, .day5-title {
    margin-bottom:20px;
}

.day1-icon, .day2-icon, .day3-icon, .day4-icon, .day5-icon {
    margin-top: 10px;
    margin-bottom: 30px;
    text-decoration: underline;
}

.card-deck {
    margin-bottom:200px;
    width:90%;
    margin-right:5%;
    margin-left:5%;
}

span {
    margin-left:5px;
}

@media screen and (max-width: 900px) {
    .main-weather {
      flex-direction: column;   
    }
}    

@media screen and (max-width: 900px) {
    .previous-weather, .current-weather {
      flex-direction: column;   
      width:100%;
      margin:0;
    }
}   

@media screen and (max-width: 900px) {
    .current-label {
      margin-top: 30px;
      
    }
} 








  


  


  



